#root {
  /* min-width: 1280px; */
  max-width: 100%;
  min-width: 55%;
  margin: 0 auto ;
  padding:  0 2rem;
  text-align: center;
  box-sizing: border-box;
}
body{
  background: linear-gradient(125deg, rgba(0, 0, 0, 0.623),rgba(112, 111, 111, 0.363));
  /* height: 100vh; */
  /* overflow: auto; */
  /* background: fixed; */

}
#root .container{
  text-align: start;
}
#root button{
  background-color:#a085855b;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}
.menu-btn{
  background-color: transparent;
}
#root button:hover{
  background-color: #201f1f;
  border:  white 1px solid;
}
.btn-container{
  background-color: #242424;
  width: 100%;
  padding:  10px 0px 28px 0px ;
  /* border-bottom:  1px solid rgba(255, 255, 255, 0.671); */
  /* border-bottom-style: dashed; */

  display:inline-flex;
  justify-content: center;
  position: fixed;
  transform: translate(-50%);
  gap: 8px;  

}
