#root {
  max-width: 1280px;
  max-width: 100%;
  min-width: 55%;
  margin: 0 auto ;
  padding:  0 2rem;
  text-align: center;
}
body{
  background: linear-gradient(90deg, rgb(0, 0, 0),transparent);
  /* height: 100vh; */
  /* overflow: scroll; */
  /* background: fixed; */

}
#root .container{
  text-align: start;
}
#root button{
  background-color:#a085855b;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}
.menu-btn{
  background-color: transparent;
}
#root button:hover{
  background-color: #201f1f;
  border:  white 1px solid;
}
.btn-container{
  background-color: #242424;
  width: 100%;
  padding:  8px 0px 24px 0px ;
  /* border-bottom:  1px solid rgba(255, 255, 255, 0.671); */
  /* border-bottom-style: dashed; */

  display:inline-flex;
  justify-content: center;
  position: fixed;
  transform: translate(-50%);
  gap: 8px;  

}
.app-container{
  /* width: 100%; */
/* background-color: rgba(95, 91, 91, 0.171); */
}